@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(222, 26%, 31%);
  --screen-color: hsl(224, 36%, 15%);
  --keypad: hsl(223, 31%, 20%);
  --btn-color: hsl(223, 31%, 20%);
}

body {
  overflow: hidden;
}

.toggle {
  width: 500px;
  height: 10px;
  margin-top: 100px;
  margin-left: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-family: "League Spartan", sans-serif;
}

.toggle.light {
  color: black;
}

.toggle h2 {
  margin-left: 10px;
}

.switch ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch li {
  list-style: none;
}
.rectanlge {
  background-color: #fff;
  width: 45px;
  height: 15px;
  border-radius: 15px;
}

.circle {
  background-color: red;
  border: none;
  width: 14px;
  height: 14px;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  animation: move linear 0.5s 1 normal backwards;
}

.circle.light {
  animation: move linear 0.5s 1 normal forwards;
  background-color: #333;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(14px);
  }
}

/* Theme 1 */
.container {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  overflow: hidden;
}

.container.light {
  background: hsl(0, 0%, 90%);
}

.screen {
  background: var(--screen-color);
  width: 500px;
  height: 110px;
  border: 2px none #fff;
  border-radius: 7px;
  margin: 30px auto;
  margin-bottom: 20px;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.screen.light {
  background: hsl(0, 0%, 93%);
  color: #333;
}

.keypad {
  background: var(--keypad);
  width: 500px;
  height: 400px;
  border: 2px none #fff;
  border-radius: 7px;
  margin: 10px auto;
  padding: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 18px;
}

.keypad.light {
  background: hsl(0, 5%, 81%);
}

.btn {
  font-family: "League Spartan", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  border-radius: 7px;
  background: hsl(30, 25%, 89%);
  color: var(--btn-color);
  box-shadow: 0 2px 0px 0px #aea797;
  cursor: pointer;
}

.btn.light {
  background: hsl(30, 25%, 89%);
  color: hsl(223, 31%, 20%);
  box-shadow: 0 2px 0px 0px #aea797;
}

.btn:hover {
  background: #fff;
}

.btn-reset {
  grid-column: 1 / span 2;
  background: hsl(225, 21%, 49%);
  color: #fff;
  font-size: 24px;
  box-shadow: 0 2px 0px 0px hsl(224, 28%, 35%);
}

.btn-reset.light {
  background: hsl(185, 42%, 37%);
  box-shadow: 0 2px 0px 0px hsl(224, 28%, 35%);
}

.btn-del {
  background: hsl(225, 21%, 49%);
  color: #fff;
  font-size: 24px;
  box-shadow: 0 2px 0px 0px hsl(224, 28%, 35%);
}

.btn-del.light {
  background: hsl(185, 42%, 37%);
  box-shadow: 0 2px 0px 0px hsl(224, 28%, 35%);
}

.btn-reset:hover,
.btn-del:hover {
  background: #a2b3e1;
}

.btn-equals {
  grid-column: 3 / span 2;
  background: #d13f30;
  color: #fff;
}

.btn-equals.light {
  background: hsl(25, 98%, 40%);
}

.btn-reset:hover.light,
.btn-del:hover.light {
  background: hsl(185, 47%, 53%);
}

.btn-equals:hover {
  background: #f96c5b;
}

.btn-equals:hover.light {
  background: hsl(25, 90%, 66%);
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .toggle {
    margin-left: 1px;
    display: flex;
    justify-content: space-between;
  }

  .toggle h2 {
    margin-left: 20px;
  }

  .screen {
    width: 90%;
  }

  .keypad {
    width: 90%;
  }
}
